In [1]:
import numpy as np
import pandas as pd

In [2]:
print('pandas', pd.__version__)
print('numpy', np.__version__)

pandas 1.3.2
numpy 1.19.5

In [68]:
df = pd.read_csv('./data.csv')

In [44]:
df[df['Year']>2014]['Engine HP'].isnull().sum()

51

In [92]:
def average(x):
    return x.mean()

print(round(average(df['Engine HP'])))
print(round(average(df['Engine HP'].fillna(0))))

249
248

In [96]:
df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [145]:
X = df[df['Make']=='Rolls-Royce'][["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates()
X.shape

(7, 3)

In [134]:
X

       Engine HP  Engine Cylinders  highway MPG
2921     325.000             8.000           15
3505     563.000            12.000           19
5275     563.000            12.000           21
5279     563.000            12.000           20
7443     322.000            12.000           15
7553     453.000            12.000           19
11448    624.000            12.000           21

In [139]:
XTX = X.T.dot(X)
np.linalg.inv(XTX).sum()

0.032212320677486125

In [144]:
w = ((np.linalg.inv(XTX)).dot(X.T)).dot(y)
w[0]

0.19989598183189017

In [136]:
XTX = X.T.dot(X)
XTX#.T.sum().sum()

                   Engine HP  Engine Cylinders  highway MPG
Engine HP        1754801.000         39656.000    65196.000
Engine Cylinders   39656.000           928.000     1500.000
highway MPG        65196.000          1500.000     2454.000

In [118]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
y = np.array(y)
y

array([1000, 1100,  900, 1200, 1000,  850, 1300])

In [133]:
(XTX.T.dot(X.T))*y

,2921,3505,5275,5279,7443,7553,11448
Engine HP,571605513000.000,1088634314900.000,890818155900.000,1187679306000.000,566499734000.000,677143531650.000,1425893055600.000
Engine Cylinders,12918124000.000,24602560400.000,20132067600.000,26840956800.000,12802868000.000,15303233400.000,32224374000.000
highway MPG,21237510000.000,40446971400.000,33097393800.000,44126913600.000,21047922000.000,25158651900.000,52977389400.000

In [131]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)